* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

body {
    background-image: url('background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.150);
}

header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.150);
}

header .logo {
    margin-right: 54%;
    margin-left: 10px;
    height: 60px;
    width: 140px;
    padding: 5px;
    animation: slide-right 1s;
}
header a{
    text-decoration: none;
}
header a h2 {
    font-family: 'BebasNeue' , sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    color: hsl(137, 50%, 42%);
}

header a h2:hover {
    
    transition: ease-in-out 0.25s;
    cursor: pointer;
}
header nav{
    animation: slide-down 1s;
}
header nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

header nav a:hover {
    color: hsl(137, 41%, 31%);
    transition: ease-in-out 0.25s;
}
header .bars{
    position: absolute;
    display: none;
    right: 10px;
    font-size: 2em;
    padding: 10px;
    color: white;
}
header .bars:hover{
    cursor: pointer;
    color: hsl(137, 41%, 31%);
    transition: ease-in-out 0.25s;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.150);
}
.wrapper{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 10px;
}
.wrapper h1{
    font-size: 4rem;
    color: hsl(137, 50%, 42%);
    margin: 10px;
    font-weight: bold;
    text-shadow: 0px 4px 8px black;
    animation: fade 1s;
}
.wrapper h2{
    margin: 10px;
    font-size: 1.8em;
}
.wrapper > div{
    position: relative;
    width: 100%;
    height: 30%;
    border: 2px solid;
    border-radius: 20px;
    background-color: hsla(0, 16%, 6% , 0.7);
    margin: 10px;
    z-index: 1;
}
.reception{
    animation: slide-right 1s;
}
.housekeeping{
    animation: slide-right 1.2s;
}
.manager{
    animation: slide-right 1.4s;
}
.wrapper > div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 70%;
    background-color:hsla(137, 41%, 31% , 0.7);
    clip-path: circle(50% at 40px 0);
    z-index: -1;
}
.wrapper .rest{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rest .label h3{
    font-size: 1.4em;
    margin: 15px;
}
.rest .label .salary{
    font-weight: bold;
    font-size: 1.6em;
}
.rest .label button{
    font-size: 1.9em;
    padding: 5px 20px;
    color: white;
    background-color: hsl(137, 50%, 42%);
    cursor: pointer;
    margin: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
}
.rest .label button:hover{
    background-color: hsl(137, 60%, 55%);
}
.wrapper .image{
    width: 200px;
    height: 200px;
    margin-right: 40px;
    margin: 25px;
    transition: all 0.3s;
}
.wrapper .image:hover{
    box-shadow: 0px 0px 10px 5px hsl(137, 50%, 42%);
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid;
}
.title{
    text-align: center;
}
.rest{
    display: flex;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('BebasNeue-Regular.ttf');
}
@keyframes slide-down {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0);
    }
}
@keyframes slide-right{
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
@keyframes fade{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* now customizing the scroll bar (thanks gpt) */
/* This styles the scrollbar track */
::-webkit-scrollbar-track {
    background: rgb(99, 99, 99); /* Track background color */
    
}

/* This styles the scrollbar thumb (the part that you drag) */
::-webkit-scrollbar-thumb {
    background: #262323; /* Thumb color */
    border-radius: 20px;
}

/* This styles the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #514e4e; /* Thumb hover color */
}

/* This styles the scrollbar itself (including the track and thumb) */
::-webkit-scrollbar {
    width: 15px; /* Width of the scrollbar */
}
@media (max-width: 1150px) {

    header .logo {
        margin-right: 40%;
    }
    header nav{
        position: absolute;
        right: 0;
    }
}
@media only screen  and (max-width: 900px) {
    header .logo {
        margin-right: auto;
        height: 55px;
        width: 130px;
    }
    header{
        position: relative;
    }
    header a h2 {
        font-size: 2.8rem;
    }
    header nav{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: hsl(137, 59%, 24%);
        width: 100%;
        height: 100vh;
        transition: all 0.75s;
        z-index: 1001;
    }
    header nav a {
        font-size: 1.5rem;
        padding: 15px;
        margin: 5px;
    }
    header .bars{
        display: block;
    }
}

@media (max-width: 700px) {
header .logo {
    margin-right: 20%;
}
header nav a {
    font-size: 1.5rem;
}
header .bars {
    display: block;
}
header nav {
    display: none;
}
.wrapper{
    width: 90%;
}
.wrapper h1{
    text-align: center;
}

.rest .label h3{
font-size: 1em;
text-align: left;
}
.rest .label button{
    font-size: 1.5em;
}
.rest .image{
    height: 150px;
}
}
@media only screen and (max-width: 420px){
    .wrapper >div::before{
    height: 75%;
    width: 50%;
    clip-path: circle(60% at 30px 0);
    }
}